<header class="header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-3">

                <a href="{{ site.url }}" class="logo">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=150&h=45"
                         {#srcset="{{ theme.link }}/assets/images/logo.png 1x, /wp/wp-content/themes/martinellis/assets/images/logo@2x.png 2x"#}
                         width="150"
                         height="45"
                         alt="Logo">
                </a>

            </div>
            <!-- /.col-sm-3 -->
            <div class="col-xs-3 col-sm-9">

                <nav class="primary hidden-xs" role="navigation">

                    <ul>

                        {% for item in load_menu(primary_navigation).get_items %}
                            <li class="{{ item.class }}">

                                <a href="{{ item.get_link }}"
                                        {{ item.target ? 'target="' ~ item.target ~ '"' : '' }}
                                        {{ item.title ? 'title="' ~ item.title ~ '"' : '' }}>
                                    {{ item.title }}
                                </a>

                            </li>
                        {% endfor %}

                    </ul>

                </nav>

            </div>
            <!-- /.col-sm-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</header>
<!-- /.header -->