{#
 # LIST TITLE
 #
 #  A template include used to display the title for a list view.
 #}

{# output #}
{% if term %}

    <h1>{{term.name}}</h1>

{% elseif category %}

    <h1>{{category.name}}</h1>

{% elseif tag %}

    <h1>{{tag.name}}</h1>

{% elseif author %}

    <h1>{{author.display_name}}</h1>

{% elseif date %}

    <h1>{{date}}</h1>

{% elseif post_type %}

    <h1>{{post_type.label}}</h1>

{% endif %}
