<div class="sg-color-swatch-list sg-row">
    {% for color in colors %}
        <div class="sg-col-xs-6 sg-col-sm-4 sg-col-md-3 sg-col-lg-2">
            <div class="sg-swatch" style="background-color: {{ color.hex }}">

            </div>
            <div class="sg-color-info">
                {{ color.name }} {{ color.hex }}
            </div>
            {% if color.var is iterable %}
                {% for var in color.var %}
                    <code>{{ var }}</code>{{ not loop.last ? '<br>'|raw : '' }}
                {% endfor %}
            {% else %}
                <code>{{ color.var }}</code>
            {% endif %}


        </div>
        {% if loop.index is divisible by(6) %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
</div>