{% set id = element.id %}

<section id="sg-section-{{ id }}">
    <header class="sg-container-fluid">
        <div class="sg-heading">
            <h2>{{ headline }}</h2>
        </div>
    </header>
    <div class="sg-tabs">
        <div class="sg-container-fluid">
            <ul class="sg-tabs-list">
                <li class="sg-active">
                    <a href="#{{ id }}-live">
                        Live
                    </a>
                </li>
                {% if code or notes %}
                <li>
                    <a href="#{{ id }}-code">
                        Code
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="sg-tabs-panel sg-active {{ not container ? 'full-width' : '' }}" id="{{ id }}-live">

            {% if container %}
            <div class="sg-container-fluid">
                {% endif %}

                {{ element_content|trim }}
                {% if container %}
            </div><!-- .container -->
            {% endif %}

        </div><!-- .sg-tab-panel -->
        {% if code or notes %}
        <div class="sg-tabs-panel" id="{{ id }}-code">
            <div class="sg-container-fluid">

                {% if not code|trim|length %}
                    {% set code = element_content %}
                {% endif %}

                <h4>Code</h4>
                <pre><code>{{ code|e('html')|trim }}</code></pre>

                {% if notes|trim|length %}
                    <br><br>
                <h4>Notes</h4>
                {{ notes|raw }}
                {% endif %}

            </div>
        </div><!-- .sg-tab-panel -->
        {% endif %}
    </div>


</section>