{% set id = fn('sanitize_title', headline) %}

<section id="sg-section-{{ id }}">
    <header class="sg-container-fluid">
        <div class="sg-heading">
            <h2>{{ headline }}</h2>
        </div>
    </header>
    <div class="sg-tabs">
        <div class="sg-container-fluid">
            <ul class="sg-tabs-list">
                <li class="sg-active">
                    <a href="#{{ id }}-live">
                        Live
                    </a>
                </li>
                <li>
                    <a href="#{{ id }}-code">
                        Code
                    </a>
                </li>
            </ul>
        </div>

        <div class="sg-tabs-panel sg-active {{ not container ? 'full-width' : '' }}" id="{{ id }}-live">

            {% if container %}
            <div class="sg-container-fluid">
                {% endif %}

                {{ element_content|trim }}
                {% if container %}
            </div><!-- .container -->
            {% endif %}

        </div><!-- .sg-tab-panel -->
        <div class="sg-tabs-panel" id="{{ id }}-code">
            <div class="sg-container-fluid">
                <div class="sg-row">
                    <div class="sg-col-sm-6">
                        {% if not code|trim|length %}
                            {% set code = element_content %}
                        {% endif %}

                        <p>Code</p>
                        <pre><code>{{ code|e('html')|trim }}</code></pre>
                    </div>
                    <div class="sg-col-sm-6">
                        <p>Notes</p>
                        {{ notes|raw }}
                    </div>
                </div>

            </div>
        </div><!-- .sg-tab-panel -->
    </div>


</section>