<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js sg-html-html" {{ site.language_attributes }}> <!--<![endif]-->

    <head>
        <meta charset="{{ site.charset }}" />
        <title>Style Guide - {{ site.name }}</title>
        <meta name="description" content="Style Guide for {{ site.name }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Style Guide Styles #}
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/vendor/prism.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/vendor/sg-bootstrap.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-base.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-header.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-tabs.css">

        {# Style Guide Scripts #}
        <script type="text/javascript" src="{{ theme.link }}/views/style-guide/assets/javascript/vendor/prism.js"></script>
        <script type="text/javascript" src="{{ theme.link }}/views/style-guide/assets/javascript/sg-main.js"></script>

        {# Styles #}
        <link rel='stylesheet' href='{{ theme.link ~ '/style.css' }}' type='text/css' media='all' />

        {# Scripts #}


    </head>

    <body class="style-guide language-twig sg-html-body">

        <div id="page">

            <div id="wrapper">

                <header class="sg-header">

                    <div class="sg-container">
                        <div class="logo">
                            <h1>
                                the Style Guide
                            </h1>
                        </div>

                        <div class="tagline">
                            <strong>Style Guide</strong> 2018
                        </div>
                    </div>


                </header>

                <aside>

                    side bar

                </aside>

                <div id="content" role="main">
                    <section class="sg-section">
                        <div class="sg-heading sg-container">
                            <h1>Typography</h1>
                        </div>

                        {% include 'style-guide/layout/page-nav.twig' with {
                            main: 'Typography',
                            items: [
                                {
                                    id: 'headings',
                                    name: 'Headings'
                                },
                                {
                                    id: 'paragraph',
                                    name: 'Paragraph'
                                },
                                {
                                    id: 'footnote',
                                    name: 'Footnote'
                                },
                                {
                                    id: 'blockquote',
                                    name: 'Blockquote'
                                },
                                {
                                    id: 'lists',
                                    name: 'Lists'
                                },
                                {
                                    id: 'more',
                                    name: 'More'
                                }
                            ]
                        } %}
                    </section>



                    {% include 'style-guide/layout/element.twig' with {id: 'headings', headline: 'Headings', content: 'style-guide/elements/headings.twig', extra: '<h1 class="decor">Heading 1 w/ Decor</h1>' } %}
                    {% include 'style-guide/layout/element.twig' with {id: 'paragraph', headline: 'paragraph' } %}
                    {% include 'style-guide/layout/element.twig' with {id: 'footnote', headline: 'footnote' } %}
                    {% include 'style-guide/layout/element.twig' with {id: 'blockquote', headline: 'blockquote' } %}
                    {% include 'style-guide/layout/element.twig' with {id: 'lists', headline: 'Lists', content: 'style-guide/elements/lists.twig', container: true } %}
                    {% include 'style-guide/layout/element.twig' with {id: 'more', headline: 'more' } %}


                    <section id="typography">

                        {#{% include 'style-guide/layout/container.twig' with {content: source('style-guide/typography.twig')} %}#}

                    </section>

                    <section id="color">
                        {% include 'style-guide/color.twig' %}
                    </section>

                    <section id="lists">
                        {% include 'style-guide/lists.twig' %}
                    </section>

                    <section id="pagination">
                        {% include 'style-guide/pagination.twig' %}
                    </section>

                    <section id="post">
                        {% include 'style-guide/post.twig' %}
                    </section>

                </div>
                <!-- end /#content -->

            </div>
            <!-- /#wrapper -->

            <footer>

                <p>By <a href="http://mindgruve.com/">Mindgruve</a></p>

            </footer>

        </div>
        <!-- /#page -->

    </body>
</html>