<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js sg-html-html" {{ site.language_attributes }}> <!--<![endif]-->

    <head>
        <meta charset="{{ site.charset }}" />
        <title>Style Guide - {{ site.name }}</title>
        <meta name="description" content="Style Guide for {{ site.name }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Style Guide Styles #}
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/vendor/prism.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/vendor/sg-bootstrap.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-base.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-header.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-side-nav.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-tabs.css">
        <link rel="stylesheet" href="{{ theme.link }}/views/style-guide/assets/css/sg-footer.css">

        {# Style Guide Scripts #}
        <script type="text/javascript" src="{{ theme.link }}/views/style-guide/assets/javascript/vendor/prism.js"></script>
        <script type="text/javascript" src="{{ theme.link }}/views/style-guide/assets/javascript/sg-main.js"></script>

        {% include 'include/header-assets.twig' %}


    </head>

    <body class="style-guide language-twig sg-html-body {{ nav_open ? 'sg-show-nav' : '' }}">

        <div id="page">

            <div id="wrapper">

                <header class="sg-header">

                    <div class="sg-container">
                        <div class="logo">
                            <h1>
                                The Style Guide
                            </h1>
                        </div>

                        <div class="tagline">
                            <strong>Style Guide</strong> {{ "now"|date('Y') }}
                        </div>
                    </div>


                </header>

                <div class="flex-wrapper">
                    <aside class="sg-side-nav">

                        <button type="button" class="sg-nav-toggle sg-html-button" aria-label="Open Navigation">
                            <span class="bar" aria-hidden="true"></span>
                            <span class="bar" aria-hidden="true"></span>
                            <span class="bar" aria-hidden="true"></span>
                        </button>

                        <button type="button" class="sg-nav-toggle-close sg-html-button" aria-label="Close">
                            <span class="x"></span>
                        </button>

                        <div class="inner">

                            <nav>
                                <ul>
                                    {% for item in menu %}
                                        <li>
                                            <a href="/style-guide/{{ item.id }}">
                                                {{ item.name }}
                                            </a>

                                            {% if section == item.id %}
                                                <ul>
                                                    {% for child in item.children %}
                                                    <li>
                                                        <a href="#sg-section-{{ child.id }}">
                                                            {{ child.name }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div><!-- .inner -->

                    </aside>

                    <div id="content" role="main">

                        {% block content %}

                            <section class="sg-section">
                                <div class="sg-heading sg-container-fluid">
                                    <h1>
                                       {{ section_title }}
                                    </h1>
                                </div>

                                {% include 'style-guide/layout/page-nav.twig' with {
                                    main: section_title,
                                    items: menu[section]['children']
                                } %}
                            </section>

                            {% for element in menu[section]['children'] %}
                                {% include 'style-guide/elements/' ~ section ~ '/' ~ element.id ~ '.twig' %}
                            {% endfor %}

                        {% endblock %}
                    </div>
                    <!-- end /#content -->
                </div><!-- .flex-wrapper -->

            </div>
            <!-- /#wrapper -->

            <footer class="sg-footer">

                <div class="sg-container">
                    <div class="logo">
                        <img src="{{ theme.link }}/views/style-guide/assets/images/mg-logo.png"
                             srcset="{{ theme.link }}/views/style-guide/assets/images/mg-logo.png 1x, {{ theme.link }}/views/style-guide/assets/images/mg-logo_2x.png 2x"
                             width="40"
                             height="40"
                             alt="Mindgruve">
                    </div><!-- .logo     -->
                    <div class="copyright">
                        &copy; Copyright {{ "now"|date('Y') }} Mindgruve, <br class="sg-visible-xs">
                        All Rights Reserved
                    </div>
                </div>

            </footer>

        </div>
        <!-- /#page -->

    </body>
</html>