<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" {{function('language_attributes')}}>
    <!--<![endif]-->

    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{function('wp_title', '|', true, 'right')}}</title>

        {# add stylesheets #}
        {# {% do add_stylesheet('bootstrap', template_uri ~ '/assets/css/vendor/bootstrap.css', [], '3.2.0', 'all') %} #}

        {# add scrip
        ts #}
        {# {% do add_script_file('require', template_uri ~ '/assets/javascript/vendor/require.js', [], '2.1.14', false) %} #}

        {# localize scripts #}
        {# {% do localize_script('require', 'require', {'baseUrl': template_uri ~ '/assets/javascript/'}) %} #}

        {{wp_head}}

        <link rel="alternate" type="application/rss+xml" title="{{function('get_bloginfo', 'name')}} Feed" href="{{function('get_feed_link')}}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="/themes/mmf/javascript/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->

    </head>

    <body {{function('body_class')}}>

        <div id="page">

            <div id='wrapper'>

                {# declare header block #}
                {% block header %}

                    <header id="header">
                        <a href="{{site.url}}" id="logo">{{site.name}}</a>
                    </header>

                    {%  include 'includes/search-form.html.twig' %}
                {% endblock %}

                {# block body block #}
                {% block body %}{% endblock %}

                <div class='push'></div>

            </div>
            <!-- end div#wrapper -->


            {# block footer block #}
            {% block footer %}

                <footer id="footer">
                    <p>{{__("Copyright &copy; %s", 'theme')|format("now"|date('Y'))}}</p>
                </footer>

            {% endblock %}

        </div>
        <!-- end div#page -->

        {{wp_footer}}

    </body>

</html>
