<section id="hero" class="hero {{ item.css_class }}">

    <div class="backdrop focuspoint"
         data-focus-x="{{ item.hero_image_focus_x|default('0') }}"
         data-focus-y="{{ item.hero_image_focus_y|default('0') }}"
         data-image-w="{{ TimberImage(item.hero_image).width }}"
         data-image-h="{{ TimberImage(item.hero_image).height }}">

        <img
                alt="{{ item.hero_title }}"
                src="{{ TimberImage(item.hero_image)|resize(1200) }}"
                srcset="{{ TimberImage(item.hero_image)|resize(320) }} 320w,
                 {{ TimberImage(item.hero_image)|resize(375) }} 375w,
                 {{ TimberImage(item.hero_image)|resize(640) }} 640w,
                 {{ TimberImage(item.hero_image)|resize(750) }} 750w,
                 {{ TimberImage(item.hero_image)|resize(992) }} 992w,
                 {{ TimberImage(item.hero_image)|resize(1200) }} 1200w,
                 {{ TimberImage(item.hero_image)|resize(1440) }} 1440w,
                 {{ TimberImage(item.hero_image)|resize(1600) }} 1600w,
                 {{ TimberImage(item.hero_image)|resize(1800) }} 1800w,
                 {{ TimberImage(item.hero_image)|resize(2200) }} 2200w,
                 {{ TimberImage(item.hero_image) }} 2560w"
                sizes="100vw"
        >
        <!--/img -->
    </div>
    <!-- /.backdrop -->

    <div class="frontdrop">

        <div class="container">

            <div class="row">

                <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col-lg-offset-7 col-lg-5">

                    {% if item.hero_title %}
                        <h1 class="heading">
                            {{ item.hero_title }}
                        </h1>
                    {% endif %}

                    <div class="content">

                        {% if item.hero_copy %}
                            <div class="description">
                                {{ item.hero_copy }}
                            </div>
                        {% endif %}

                        {% for button in item.cta_button %}
                            {% if button.link|length > 0 and button.text|length > 0 %}
                                <a href="{{ button.link }}" class="{{ button.button_style }}">
                                    {{ button.text }}
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <!-- /.content.indented -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.frontdrop -->
</section>
<!-- /.grid-hero -->